<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/landingstyle.css">
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
<img src="../images/background1.jpg" alt="computer" id="background">
<body>
<aside>
    <img src="../images/professionalPic.jpeg" alt="Professional Picture of Brendon Taylor" id="profPic"><br/>
    Brendon Taylor,<br/>
    Jr. Software Engineer<br/><br/><br/>
    <a href="../../../index.html">Home</a><br/><br/>
    <a href="About_Me.html">About Me</a><br/><br/>
    <a href="Resume.html">Résumé</a><br/><br/>
    <a href="Projects.html">Projects</a><br/><br/>
    <a href="Recommendation.html">Recommendation Letters</a><br/><br/>
    <a href="Contact.html">Contact Me</a>


</aside>
<main>
    <header>
        About Me
    </header>
    <div id="about">
        <span class="title">My History</span>
        <div class="indent">
            I grew up in a town so small even the people who drive through it don't know its name. The town's name is Bluff
            Dale, Texas. When I was 11, I moved to another small pass-through town named Hico, Texas. During this
            transition, I was able to skip 6th grade. Throughout high school, I excelled in computer science, going as far
            as to place 3rd in a state competition. Despite this, I still decided to major in premed at Tarleton State University. In
            my premed major, I was able to make A's, but it was not something that I loved. During my second year of
            college, I changed majors to software engineering and rediscovered my passion for the subject. I could not get
            enough of it. Tarleton's course went too slow for me, so I decided to look for accelerated programs; this led me to
            Western Governors University. I was so excited to start an accelerated program that I switched to WGU mid-way
            through the second semester of my new major. With only 18 credits towards my degree, I graduated from WGU
            with a bachelor's in software engineering in just six months. Now, I am a college graduate at 19 years old and
            ecstatic to find out what happens next!
        </div>
    </div>
</main>
</body>
</html>