<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/landingstyle.css">
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>
<aside>
    <img src="../images/professionalPic.jpeg" alt="Professional Picture of Brendon Taylor" id="profPic"><br/>
    Brendon Taylor,<br/>
    Jr. Software Engineer<br/><br/><br/>
    <a href="../../../index.html">Home</a><br/><br/>
    <a href="About_Me.html">About Me</a><br/><br/>
    <a href="Resume.html">Résumé</a><br/><br/>
    <a href="Projects.html">Projects</a><br/><br/>
    <a href="Recommendation.html">Recommendation Letters</a><br/><br/>
    <a href="Contact.html">Contact Me</a>


</aside>
<main>
    <header>
        Projects
    </header>
    <div id="projects">
        <br/>
        <span class="title">Websites</span><br/>
        <a href="http://brendonwgu.atwebpages.com//#" target="_blank">Texas and her Cities:</a><br/>
        <div class = "indent">This website is a simple HTML document that I published about Texas and Texan cities</div>
        <br/><br/>

        <span class="title">School Projects</span><br>
        <div class="indent">*Unfortunately, due to my university's academic policies, I am unable to publish the following projects.</div><br/>
        <span class="bold">World Map</span> (Used Angular, TypeScript, Java, HTML, CSS, and API calls)<br/>
        <div class="indent">
            This project used AngularTS to create a world map. This map used an API to call to WorldBank and allowed
            users to click on any country, causing information about the country to appear on a table that was next to the map
        </div><br/>
        <span class="bold">Landon Hotel</span> (Used SpringBoot, Angular, Java, SQL, TypeScript, HTML, and CSS)<br/>
        <div class="indent">
            In this project, I created an online booking website for the fictitious "Landon Hotel." This website allowed users
            to book an available room, which would then be stored in an sql database for the given dates. After booked, the
            website would not allow other users to book the room during the timeframe
        </div><br/>
        <span class="bold">Android Vacation App</span> (Used Android Studio, Java, and XML)<br/>
        <div class="indent">
            This project had me develop an Android app that allowed users to plan vacations. As part of the planning
            process, users were able to add, edit, and delete vacations through a GUI that I developed. This GUI consisted of
            2 screens, 1 to view, edit, and delete vacations from the list of added vacation, and another to add new vacations.
            This app also allowed users to enable notifications for the start and end dates of their vacations.
        </div>

    </div>
</main>
</body>
</html>