<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/landingstyle.css">
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<img src="../images/background1.jpg" alt="computer" id="background">
<body>
<aside>
    <img src="../images/professionalPic.jpeg" alt="Professional Picture of Brendon Taylor" id="profPic"><br/>
    Brendon Taylor,<br/>
    Jr. Software Engineer<br/><br/><br/><br/>
    <a href="Brendon_Taylor.html">Home</a><br/><br/>
    <a href="About_Me.html">About Me</a><br/><br/>
    <a href="Resume.html">Résumé</a><br/><br/>
    <a href="Projects.html">Projects</a><br/><br/>
    <a href="Contact.html">Contact Me</a>


</aside>
<main>
    <header>
        Projects
    </header>
    <div id="projects">
        <br/>
        <a href="http://brendonwgu.atwebpages.com//#" target="_blank">Texas and her Cities:</a><br/>
        This website is a simple HTML document that I posted about Texas and Texas cities
        <br/><br/>

    </div>
</main>
</body>
</html>