<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/landingstyle.css">
    <meta charset="UTF-8">
    <title>Resume</title>
</head>
<body>
<aside>
    <img src="../images/professionalPic.jpeg" alt="Professional Picture of Brendon Taylor" id="profPic"><br/>
    Brendon Taylor,<br/>
    Jr. Software Engineer<br/><br/><br/>
    <a href="../../../index.html">Home</a><br/><br/>
    <a href="About_Me.html">About Me</a><br/><br/>
    <a href="Resume.html">Résumé</a><br/><br/>
    <a href="Projects.html">Projects</a><br/><br/>
    <a href="Recommendation.html">Recommendation Letters</a><br/><br/>
    <a href="Contact.html">Contact Me</a>


</aside>
<main>
    <header>
        Résumé
    </header>
    <div id="resume">
        <span class="title">SUMMARY OF QUALIFICATIONS</span><br/>
        <div class="indent">
            As a recent graduate from Western Governors University, I’m excited to start my career in Software Engineering.
            Due to my accelerated college experience, I have learned how to master programming languages far faster than
            my peers making me an ideal candidate for any job seeking fast learners and motivated individuals. Looking to
            specialize in full-stack development, I have gained knowledge and experience in many full-stack languages
            (including Java, Python, JavaScript, HTML, and CSS) through various websites and apps I’ve developed.
        </div>
        <br/><br/>
        <span class="title">INFORMATION TECHNOLOGY COMPETENCIES</span><br/>
        <div class="indent">
            <span class="bold">Client-side:</span>	HTML, CSS, JavaScript, XML<br/>
            <span class="bold">Server-side:</span>	Java, Python, SQL<br/>
            <span class="bold">Frameworks:</span>	Spring Boot, Angular<br/>
            <span class="bold">Deployment:</span>	Gitlab, Docker, REST, Android
        </div>
        <br/><br/>
        <span class="title">EDUCATION</span><br/>
        <span class="bold">Bachelor of Science in Software Engineering</span><br/>
        Western Governors University, Salt Lake City, UT | September 2024<br/>
        <div class="indent">
            • Studies utilized a learn-as-you-go wherein students learned the material through various coding projects in
              multiple different languages and technologies<br/>
            • Courses included IT Project Management, Data Management, Android App Development, Cloud Foundations,
              Front-End Web Development, and Back-End Programming
        </div>
        <br/><br/>
        <span class="title">CERTIFICATIONS</span><br/>
        <div class="indent">
            • CompTIA Project+ | May 15, 2024<br/>
            • AWS Cloud Certified Practitioner | July 12, 2024 – July 12, 2027<br/>
            • Axelos ITIL Foundations | July 14, 2024 – July 15, 2027<br/>
            • WGU Front-End Developer | September 2, 2024<br/>
            • WGU Back-End Developer | September 12, 2024
        </div>
        <br/><br/>
        <span class="title">PROFESSIONAL EXPERIENCE</span><br/>
        <span class="bold">Shop Manager</span><br/>
        DAT Fire, Hico, TX | January 2022 – Current<br/>
        <div class="indent">
            Maintain all shop operations while ensuring efficiency and compliance. Supervise and train all employees and
            keep them informed of all laws regarding fire extinguishers.<br/>
            • Develop and execute streamlined shop practices.<br/>
            • Oversee the recruitment, training, and development of new staff members.<br/>
            • Ensure compliance with all relevant health, safety, and security regulations.
        </div>
        <br/><br/>
            <span class="bold">Supplemental Instruction Leader</span><br/>
        Tarleton State University, Stephenville, TX | January 2023 – May 2023<br/>
        <div class="indent">
            Host biweekly lectures to reinforce learning material provided by the professor. Attend all classes to stay up-to-
            date with course subjects.<br/>
            • Developed learning materials for use during Supplemental Instruction sessions.<br/>
            • Conducted individual tutoring sessions with students who needed additional help understanding the material.<br/>
            • Monitored student attendance at SI sessions and reported results to the department supervisor.
        </div>

    </div>
</main>
</body>
</html>